### 오늘의 학습목표
- 사칙연산, 변수계산, 조건문, IF문, 반복문(IF, While), 함수 등의 기초문법을 이해할 수 있다.

In [1]:
1+3

4

In [2]:
16/3

5.333333333333333

In [3]:
16//3

5

In [4]:
16%3

1

In [5]:
a=3
b=7

In [9]:
print(a*b)
a/b

21

0.42857142857142855

In [10]:
naver="네이버"

In [12]:
naver

'네이버'

In [14]:
"Kyungjin's husband name?"

"Kyungjin's husband name?"

- 숫자: intege
- 문자: string

> **Q. 위에 선언한 naver 뒤에 클라우드를 붙히려면 어떻게 해야할까요?**

In [16]:
naver+" 클라우드"

'네이버 클라우드'

## 포멧팅

In [22]:
banana=3
apple=4
melon=6
name="차경진"
"{2}은 바나나를 {0}개 사과 {1}개 멜론 {3}개 먹었다".format(banana, apple, name, melon)

'차경진은 바나나를 3개 사과 4개 멜론 6개 먹었다'

In [23]:
"%s은 바나나를 %d개 먹고 사과를 %d개 먹었다"%(name, banana, apple)

'차경진은 바나나를 3개 먹고 사과를 4개 먹었다'

In [25]:
model_a= 3.32321432
model_b= 5.12324324

"모델 a의 값은 %.2f이고 모델 b의 값은 %d이다"%(model_a, model_b)

'모델 a의 값은 3.32이고 모델 b의 값은 5이다'

## 리스트
- 여러 데이터를 한 곳에 묶는 방법으로 리스트가 가장 많이 사용된다. 리스트에는 임의의  자료 타입을 담을 수 있다. 리스트를 만들려면 [ ]를 사용한다.
- 순서가 있는 요소가 있는 자료 구조
- ex) `players = ['투수 임찬국', '투수 류제국', '내야수 오지환', '내야수 가르시아', '포수 정상호']`
- 튜플도 있는데 리스트와 차이가 있다면 튜플은 수정삭제추가가 불가능하다. 
- list만 추가/수정/삭제가 가능하므로 list에만 있는 메소드는 아래와 같다.

메서드|설명
--|--
리스트.append(x)|리스트의 끝에 새로운 원소 x를 추가
리스트.extend(t)|리스트의 끝에 새로운 리스트 t를 추가
리스트.count(x)|리스트에서 x가 출현한 횟수를 셈
리스트.insert(i, x)|색인 i의 위치에 x를 삽입
리스트.pop(i)|리스트에서 원소 i를 제거하면서 i를 반환, i를 생략하면 마지막 원소가 제거되면서 반환
리스트.remove(x)|x를 찾아서 s에서 제거

In [26]:
korean_presidents=["윤석열", "문재인", "박근혜", "노무현", "김대중"]

In [28]:
korean_presidents[0]

'윤석열'

In [29]:
korean_presidents.append("이명박")

In [30]:
korean_presidents

['윤석열', '문재인', '박근혜', '노무현', '김대중', '이명박']

In [31]:
korean_presidents.remove("이명박")

In [33]:
korean_presidents.insert(3, "이명박")

In [34]:
korean_presidents

['윤석열', '문재인', '박근혜', '이명박', '노무현', '김대중']

In [35]:
from random import randint

In [36]:
randint(1,10)

4

> **Q. 위에서 만든 korean_presidents 리스트 중에서 랜덤하게 대통령 한 명을 선택해서 출력해주세요**

In [42]:
len(korean_presidents)

6

In [41]:
korean_presidents[randint(0,len(korean_presidents)-1)]

'김대중'

## 논리형

In [43]:
a=True
b=False

In [44]:
a+b

1

In [45]:
a or b

True

In [46]:
not a

False

In [47]:
not b

True

In [48]:
a==b

False

## 반복문: while, for

### while

- while 조건문:
- 조건문이 True인 경우에만 실행
- 조건문이 False인 경우 while 반복문을 빠져나옴
- 따라서 조건문이 변경되는 로직이 반드시 있어야 하고,
- 조건문이 변경되지 않으면 영원히 while 반복문을 빠져나오지 못함

In [49]:
i=0
while i<10:
    print("현재 i의 값은 %d입니다"%i)
    i += 1

현재 i의 값은 0입니다
현재 i의 값은 1입니다
현재 i의 값은 2입니다
현재 i의 값은 3입니다
현재 i의 값은 4입니다
현재 i의 값은 5입니다
현재 i의 값은 6입니다
현재 i의 값은 7입니다
현재 i의 값은 8입니다
현재 i의 값은 9입니다

In [50]:
i=10
while i>0:
    print("현재 i의 값은 %d입니다"%i)
    i -= 1

현재 i의 값은 10입니다
현재 i의 값은 9입니다
현재 i의 값은 8입니다
현재 i의 값은 7입니다
현재 i의 값은 6입니다
현재 i의 값은 5입니다
현재 i의 값은 4입니다
현재 i의 값은 3입니다
현재 i의 값은 2입니다
현재 i의 값은 1입니다

## For문

In [51]:
range(0,10)

range(0, 10)

In [52]:
for i in range(0,10):
    print("현재 i의 값은 %d입니다"%i)

현재 i의 값은 0입니다
현재 i의 값은 1입니다
현재 i의 값은 2입니다
현재 i의 값은 3입니다
현재 i의 값은 4입니다
현재 i의 값은 5입니다
현재 i의 값은 6입니다
현재 i의 값은 7입니다
현재 i의 값은 8입니다
현재 i의 값은 9입니다

> **Q. 아래 For문을 고쳐서 "19대 대통령의 이름은 윤석열입니다"라고 출력되게 해주세요**

In [57]:
j=19
for i in korean_presidents:
    print("%d대 대통령의 이름은 %s입니다"%(j,i))
    j-=1

19대 대통령의 이름은 윤석열입니다
18대 대통령의 이름은 문재인입니다
17대 대통령의 이름은 박근혜입니다
16대 대통령의 이름은 이명박입니다
15대 대통령의 이름은 노무현입니다
14대 대통령의 이름은 김대중입니다

## 연습문제 구구단

> **Q. 구구단 3단과 4단을 출력해보자**
- for문을 2개 써야한다.
- print("%dX%d=%d"%(a,b,a*b))

In [58]:
for a in range(3,5):
    print("==== %d단 시작 ===="%a)
    for b in range(1,10):
        print("%dX%d=%d"%(a,b,a*b))

==== 3단 시작 ====
3X1=3
3X2=6
3X3=9
3X4=12
3X5=15
3X6=18
3X7=21
3X8=24
3X9=27
==== 4단 시작 ====
4X1=4
4X2=8
4X3=12
4X4=16
4X5=20
4X6=24
4X7=28
4X8=32
4X9=36

## IF문 조건문

In [4]:
money=int(input("현재 가지고 있는 돈의 액수를 적어주세요"))
if money>=1200:
    print("버스를 타세요")
else:
    print("걸어가세요")

현재 가지고 있는 돈의 액수를 적어주세요1000
걸어가세요

In [3]:
type(money)

str

> **Q. 위에서 배운 것을 이용해서 사용자가 나이를 입력하면 10대~50대 이상인지를 알아맞추는 프로그램을 짜보자 예) 사용자가 32를 입력하면 30대 이시군요!**

In [1]:
age=int(input("나이를 입력해주세요"))
if age>=10 and age<=59:
    if age>=10 and age<=19:
        print("10대 이시군요!")
    if age>=20 and age<=29:
        print("20대 이시군요!")
    if age>=30 and age<=39:
        print("30대 이시군요!")
    if age>=40 and age<=49:
        print("40대 이시군요!")
    if age>=50 and age<=59:
        print("50대 이시군요!")
else:
    print("다시 입력해주세요")
#여기서 다시 input하게끔 코드 작성

나이를 입력해주세요40
40대 이시군요!

> **Q. 조건문과 반복문을 이용해서 놀이공원 입장료를 계산하는 프로그램을 짜보자**
- 입장료는 나이에 따라 다르다
- 사용자로부터 입장할 사람의 수를 무한대로 받을 수 있습니다
- 사용자가 엔터를 입력하면 끝나고 지금까지 구한 입장료의 총합을 출력합니다

**알고리즘 개발순서**
1. 먼저 고객의 나이를 받아서 변수에 할당한다. age
2. 해당 변수가 빈 값이 아닌 동안 계속 실행한다. while !=''
3. 조건문을 작성해서 해당 변수 age의 연령대에 따라 입장료가 total_price라는 변수에 합산될 수 있도록 분기처리한다.
4. 다 합산되고 사용자가 빈 값을 입력하면 멈추고, total_price가 출력된다.

In [1]:
#입장료
baby_price=1000
child_price=2000
adult_price=3000

In [2]:
#연령대
baby_limit=2
child_limit=18
adult_limit=60

In [10]:
total_price=0
age=input("고객의 나이를 입력해주세요 (아무것도 입력하지 않고 엔터를 누르면 종료됨)")
while age !='':
    age=int(age)
    if age <= baby_limit:
        total_price += baby_price
    elif age<=child_limit:
        total_price += child_price
    elif age<adult_limit:
        total_price += adult_price
    age=input("고객의 나이를 입력해주세요 (아무것도 입력하지 않고 엔터를 누르면 종료됨)")
print("총 금액은 %d원 입니다."%total_price)

고객의 나이를 입력해주세요 (아무것도 입력하지 않고 엔터를 누르면 종료됨)10
고객의 나이를 입력해주세요 (아무것도 입력하지 않고 엔터를 누르면 종료됨)20
고객의 나이를 입력해주세요 (아무것도 입력하지 않고 엔터를 누르면 종료됨)30
고객의 나이를 입력해주세요 (아무것도 입력하지 않고 엔터를 누르면 종료됨)40
고객의 나이를 입력해주세요 (아무것도 입력하지 않고 엔터를 누르면 종료됨)
총 금액은 11000원 입니다.

## 딕셔너리
- 모든 항목이 key:value로 구성되어 있는 데이터 형식이다.
- {}를 사용

In [11]:
dic={'name':'Kyung','phone':"2220-1038"}

In [12]:
dic.keys()

dict_keys(['name', 'phone'])

In [13]:
dic.values()

dict_values(['Kyung', '2220-1038'])

In [14]:
dic['name']

'Kyung'

In [15]:
dic['age']=41

In [16]:
dic

{'name': 'Kyung', 'phone': '2220-1038', 'age': 41}

In [17]:
dic['name']=['Kyung','terry','daniel','joshua']

In [18]:
dic

{'name': ['Kyung', 'terry', 'daniel', 'joshua'],
 'phone': '2220-1038',
 'age': 41}

In [20]:
'2220-1038' in dic.values()

True

In [21]:
'age' in dic.keys()

True

In [22]:
'sex' in dic.keys()

False

In [23]:
'daniel' in dic['name']

True

In [29]:
d={'사람':2, '고양이':4, '거미':8}

for i in d:
    print("%s의 다리는 %d개 입니다"%(i,d[i]))

사람의 다리는 2개 입니다
고양이의 다리는 4개 입니다
거미의 다리는 8개 입니다

## 튜플
- 상수화된 리스트
- 내용을 갱신할 수 없다는 제약
- 처리속도가 빠르다

In [30]:
t = (1,2,3)

In [31]:
type(t)

tuple

In [32]:
t1=1,2,3

In [33]:
type(t1)

tuple

In [34]:
t1=list(t1)

In [35]:
t1.append(4)

In [36]:
tuple(t1)

(1, 2, 3, 4)

## 함수
- 목적: 코드의 재사용과 반복작업을 최소하하기 위해

In [39]:
def kyungjin(a,b,c):
    return "%d 더하기 %d는 %d인데, %d를 곱하면 %d이다"%(a,b,a+b,c,(a+b)*c)

In [40]:
kyungjin(59,39,999)

'59 더하기 39는 98인데, 999를 곱하면 97902이다'

> **Q. 사용자가 숫자를 입력하면 양수인지 음수인지를 판단해주는 sign()이란 함수를 정의해주세요**

In [3]:
def sign(a):
    if a<0:
        return "%d(은)는 음수입니다"%(a)
    elif a>0:
        return "%d(은)는 양수입니다"%(a)
    else:
        return '0'

In [4]:
a=int(input("숫자를 입력하세요"))
sign(a)

숫자를 입력하세요1

'1(은)는 양수입니다'

> **Q. 3개의 인자값을 받아서 평균을 반환하는 함수를 만들어보세요**

In [56]:
def average(a,b,c):
    return "평균은 %d 입니다"%((a+b+c)/3)

In [57]:
average(1,2,3)

'평균은 2 입니다'

> **Q. 미국에 있는 state의 수도는 어디인지 출력하는 find_capital()이라는 함수를 만들어보세요**

In [117]:
state={'Alabama':'Montgomery','Alaska':'Juneau',"Arizona":"Phoenix","Wyoming":"Cheyenne"}
def find_capital(i):
    return state[i]

In [118]:
find_capital("Alaska")

'Juneau'

## 판다스

In [77]:
import pandas as pd
import numpy as np

In [78]:
customer = {'Name':['John','Anna','Kyung','Terry'],
           'Location':['New York','Paris','Seoul','Tokyo'],
           'Age':[24,13,53,13]}

In [85]:
a = pd.DataFrame(customer, index=['첫째','둘째','셋째','넷째'])

In [86]:
a.columns

Index(['Name', 'Location', 'Age'], dtype='object')

In [90]:
a.Location

첫째    New York
둘째       Paris
셋째       Seoul
넷째       Tokyo
Name: Location, dtype: object

In [93]:
a[a.Age > 20]

     Name  Location  Age
첫째   John  New York   24
셋째  Kyung     Seoul   53

## Series
- 1차원 배열의 자료구조

In [97]:
a = pd.Series([4,7,-5.7,2,99], index=[1,2,3,4,5])

In [99]:
from pandas import Series

In [100]:
a = Series([4,7,-5.7,2,99], index=[1,2,3,4,5])

In [103]:
a

1     4.0
2     7.0
3    -5.7
4     2.0
5    99.0
dtype: float64

In [101]:
s=Series([10000,20000,30000,40000],
         index=['Seatle','Seoul','San Hose','Beijing'])

In [102]:
s

Seatle      10000
Seoul       20000
San Hose    30000
Beijing     40000
dtype: int64

In [104]:
s.index

Index(['Seatle', 'Seoul', 'San Hose', 'Beijing'], dtype='object')

In [105]:
s.values

array([10000, 20000, 30000, 40000])

In [106]:
s['Beijing']

40000

In [109]:
s[s>20000]

San Hose    30000
Beijing     40000
dtype: int64

In [110]:
s*2

Seatle      20000
Seoul       40000
San Hose    60000
Beijing     80000
dtype: int64

In [111]:
'Beijing'in s

True

In [112]:
'Japan'in s

False

In [113]:
s['Seatle':'San Hose']

Seatle      10000
Seoul       20000
San Hose    30000
dtype: int64

In [115]:
s[['Seatle', 'San Hose']]

Seatle      10000
San Hose    30000
dtype: int64